@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'helveticaneue-italicregular';
    src: url('../fonts/1_helvetica_italic_helveticaneue-italic-webfont.woff2') format('woff2'),
         url('../fonts/1_helvetica_italic_helveticaneue-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneue-lightregular';
    src: url('../fonts/2_helvetica_light_helveticaneue-light-webfont.woff2') format('woff2'),
         url('../fonts/2_helvetica_light_helveticaneue-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneue-ultralightRg';
    src: url('../fonts/3_helvetica_ultra_helveticaneue-ultralight-webfont.woff2') format('woff2'),
         url('../fonts/3_helvetica_ultra_helveticaneue-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneue-lightitalicRg';
    src: url('../fonts/4_helvetica_light_italic_helveticaneue-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/4_helvetica_light_italic_helveticaneue-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneue-mediumregular';
    src: url('../fonts/5_helvetica_medium_helveticaneue-medium-webfont.woff2') format('woff2'),
         url('../fonts/5_helvetica_medium_helveticaneue-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html {
	scroll-behavior: smooth;
  }
a:hover {
	text-decoration: none;
}

body {
	background-color: #fff;
	color: #000;
	font-family: 'helveticaneue-lightregular' !important;
	font-size: 15px;
	font-weight: 400;
}



/*========= Coding Start ==========*/

.front-page {
	width: 100%;
	height: 100vh;
}

.first-view-box {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}
.first-view-box-bg img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.first-view-box {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	width: 100%;
	height: 100vh;
	position: absolute;
	border: 20px solid rgba(255,255,255,0.8);
}
.front-page-content {
	text-align: center;
	width: 100%;
	height: auto;
	margin: 0 auto;
	transform: translate(-50%,-50%);
	top: 50%;
	position: absolute;
	left: 50%;
}
.front-page-content h1 {
	font-size: 100px;
	font-family: 'helveticaneue-ultralightRg';
	color: #fff;
	margin-bottom: 60px;
	padding: 0 11%;
	line-height: 100px;
}
.lang-btn li {
	display: inline-block;
	
}
.lang-btn li a {
	margin-right: 70px;
	padding: 15px 50px;
	display: block;
	font-size: 22px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 0 3px #939393;
	color: #6a6a6a;
	cursor: pointer;
}

.first-view-box-bg {
	width: 100%;
}

/*==== Second Page ====*/

.second-page-content {
	padding: 0 20px;
	width: 100%;
}
.second-page-content p {
    color: #fff;
    font-size: 20px;
    text-align: right;
    font-family: 'helveticaneue-mediumregular';
    margin-bottom: 30px;
}
.second-page-content p span {
    font-family: 'helveticaneue-lightitalicRg';
}
.next-btn {
	position: absolute;
	bottom: 5%;
	right: 20px;
}
.next-btn a {
    display: block;
    padding: 5px 40px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 3px #939393;
    cursor: pointer;
}

/*==== Second Page ====*/

.content-box {
    width: 75%;
    float: left;
    padding: 0 20px 0 0;
}
.image-box {
    width: 25%;
    float: left;
}
.image-box img {
    width: 100%;
}

/*==== Fourth Page ====*/

.hstrc-menu {
    width: 100%;
    overflow: hidden;
}
.historic-menu {
	padding: 0;
	margin: 0 0 0 0;
	text-align: center;
	width: 100%;
	height: auto;
	float: left;
}
.historic-menu li {
    list-style: none;
    padding: 6px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 13px;
    box-shadow: 0 0 3px #939393;
    cursor: pointer;
    position: relative;
    text-transform: capitalize;
    font-weight: 500;
    font-family: 'helveticaneue-mediumregular';
}
.historical {
    background: #dc4d3c;
}
.people {
    background: #dd8007;
}
.institutions {
    background: #ecc800;
}
.national-virtues {
    background: #50cf66;
}
.traditional-names {
    background: #4c94de;
}
.imposed-names {
    background: #9752ba;
}

.map-view-box {
	width: 100%;
	height: 100vh;
	position: absolute;
	border: 20px solid rgba(255,255,255,0.8);
	display: flex;
}
/* .hstrc-menu {
	background: rgba(255,255,255,0.8);
} */
.left-part {
    height: 100%;
    background: rgba(255,255,255,0.8);
    width: 15%;
    display: inline-block;
    padding-right: 10px;
    position: relative;
}
.sub-menu, .sub-menu2 {
    width: 62%;
    float: left;
    height: auto;
    margin-left: 10px;
    display: none;
}
.historic-sub-menu {
	margin: 0 0 0 10px;
	width: 45%;
	border-radius: 5px;
	background: #dc4d3c;
	padding: 0;
	float: left;
}
.historic-sub-menu li {
	list-style: none;
	padding: 7px;
	font-family: 'helveticaneue-mediumregular';
	font-size: 13px;
	cursor: pointer;
	position: relative;
	text-transform: capitalize;
	text-align: center;
}

.street-image {
    width: 20%;
    padding: 10px;
    background: rgba(255,255,255,0.8);
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 11px;
    display: none;
    left: 47px;
}
.street-image::after {
    content: "";
    background: url(../image/angle.png) no-repeat;
    position: absolute;
    width: 27px;
    height: 63px;
    top: 20%;
    right: -25px;
    background-size: 30px;
    opacity: 0.8;
}
.street-image img {
    width: 100%;
    margin: 10px 0;
    height: 150px;
    object-fit: cover;
}
.right-part {
    width: 85%;
    height: 100%;
    display: inline-block;
    position: relative;
    /* background: url(../image/_mapa_bcn_desat_web.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}
.street-image h5 {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'helveticaneue-mediumregular';
}
.street-image p {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 0;
}
.hstrcl-vdo {
	width: 100%;
	border-radius: 5px;
}
.hstrcl-vdo-list {
    display: none;
    margin-right: 15px;
}
.hstrcl-vdo-list p {
    font-size: 10px;
    margin-bottom: 2px;
    font-family: 'helveticaneue-mediumregular';
}
.hstrcl-vdo {
    width: 100%;
    border-radius: 5px;
    height: 220px;
    object-fit: cover;
    display: none;
    margin-bottom: 10px;
}
.historical-video-box {
    clear: both;
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-right: 6px;
}
.hstrcl-vdo-list img {
    width: 100%;
}
.jump-menu ul li {
    display: inline-block;
    margin-right: 2px;
    font-family: 'helveticaneue-mediumregular';
}
.jump-menu ul li a {
    vertical-align: middle;
    padding: 12px 20px;
    background: #fff;
    border-radius: 5px;
    margin-right: 2px;
	font-family: 'helveticaneue-mediumregular';
	color: #565656;
}
.jump-menu {
    float: right;
    margin-right: 10px;
}
.home img {
    max-width: 18px;
}
.jump-menu ul {
    margin: 8px 0 0;
    padding-left: 10px;
}
.credit {
    padding: 10px 20px;
    background: rgb(220 220 220 / 60%);
    width: auto;
    text-align: center;
    border-radius: 5px;
    float: right;
    font-family: 'helveticaneue-mediumregular';
    cursor: pointer;
}
.fifteen-click {
    float: left;
    padding: 10px 15px;
    margin-left: 10px;
    background: #fff;
    color: #f00;
    border-radius: 5px;
    font-family: 'helveticaneue-mediumregular';
    cursor: pointer;
    width: auto;
    text-align: center;
}
.map-bottom-menu {
    background: rgb(220 220 220 / 60%);
    overflow: hidden;
    padding: 10px 0;
    position: absolute;
    width: 100%;
	bottom: 0;
	cursor: pointer;
}
.mapimage-mapping {
    width: 100%;
    height: -webkit-fill-available;
}

/*=== People sub menu ===*/

.menu {
    margin: 0 0 0 10px;
    width: 45%;
    border-radius: 5px;
    padding: 0;
    float: left;
    /* position: absolute; */
}
.menu li {
    list-style: none;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'helveticaneue-lightregular';
    font-size: 14px;
    box-shadow: 0 0 3px #939393;
    cursor: pointer;
    position: relative;
    text-transform: capitalize;
    text-align: center;
    font-weight: 600;
}
.politicians-submenu, .science-submenu, .nobles-submenu {
	display: none;
}
.sub-sub-menu {
    margin: 0 0 0 10px;
    width: 28%;
    border-radius: 5px;
    padding: 0;
    float: left;
    position: absolute;
    left: auto;
    right: 12px;
}
.sub-sub-menu li {
    list-style: none;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 2px;
    font-family: 'helveticaneue-lightregular';
    font-size: 12px;
    box-shadow: 0 0 3px #939393;
    cursor: pointer;
    position: relative;
    text-transform: capitalize;
    text-align: center;
}
.selected {
    background: rgba(255,255,255,0.3);
}
.orange {
    background:#ffb239;
}
.lite-yellow {
    background:#fffa32;
}
.lite-green {
    background:#82ff98;
}
.lite-blue {
    background:#7ec6ff;
}
.lite-purple {
    background:#c984ec;
}


.ntnl-virtues-menu li, .imposed-sub-menu li {
    margin-bottom: 2px;
    box-shadow: 0px 0px 1px #939393;
}

/*===== Credit Popup ======*/

.credit-popup {
    width: 100%;
    height: 100vh;
    background: url(../image/_mapa_bcn_ini_web.jpg) no-repeat 0 0;
    background-size: cover;
    background-position: center;
    border: 20px solid rgba(255,255,255,0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 999;
    padding: 30px;
    display: none;
}
.credit-left-content {
    float: left;
    width: 50%;
    height: auto;
    padding-left: 10%;
}
.credit-right-content {
    float: left;
    width: 50%;
    height: auto;
    padding-right: 10%;
}
.credit-content-box h4 {
    font-size: 16px;
    font-family: 'helveticaneue-mediumregular';
    color: #fff;
    margin-bottom: 0;
}
.credit-content-box p {
    color: #dedede;
    font-family: 'helveticaneue-lightregular';
    margin-bottom: 0;
    line-height: 15px;
    font-size: 14px;
}
.credit-content-box {
    margin-bottom: 12px;
}
.credit-right-content h4 {
    font-size: 16px;
    font-family: 'helveticaneue-mediumregular';
    color: #fff;
}
.credit-right-content p {
    font-size: 12px;
    text-align: justify;
    line-height: 13px;
    color: #dedede;
}
.credit-footer-logo img {
    width: 97%;
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.credit-footer-logo {
    clear: both;
}
.title-box h2 {
    font-size: 60px;
    font-family: 'helveticaneue-ultralightRg';
    color: #fff;
}
.dismiss {
    padding: 5px 20px;
    display: inline-block;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 8%;
    right: 2%;
    cursor: pointer;
}
.dismiss img {
    width: 100%;
}
.hide-menu {
    display:none;
}
.show-menu {
    display: block;
}
.catalonia-menu {
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.catalonia-menu ul {
    margin: 0;
    padding: 0;
    width: 30%;
    float: left;
    margin-right: 13px;
}
.catalonia-menu ul li {
    list-style: none;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 13px;
    box-shadow: 0 0 3px #939393;
    cursor: pointer;
    position: relative;
    text-transform: capitalize;
    text-align: center;
    font-family: 'helveticaneue-mediumregular';
}
.lite-red {
    background: #ff7f6e;
}
.left-part-width {
    width: 40%;
}
#menu-flip-sound {
    visibility: hidden;
}
#fifteen-click-close {
    display: none;
}
.street-image-off {
    display: none !important;
}






.labelvideooutr {
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    height: 60px;
    overflow: hidden;
    background-position: 0 bottom;
    background-size: cover;
}

.timeline-label {
    padding: 2px 10px;
    color: #fff;
    font-size: 11px;
    line-height: 0.8;
    background: #888;
    height: 13px;
    display: inline-block;
    position: absolute;
    bottom: -8px;
    left: 0;
}




























/*====== Responsive =======*/
@media only screen and (min-width: 1921px) and (max-width: 2560px) {

    .historic-menu li {
        font-size: 30px;
        padding: 15px 2px;
        margin-bottom: 20px;
    }
    .historic-sub-menu li {
        font-size: 24px;
        padding: 14px 5px;
    }
    .menu li {
        font-size: 29px;
        padding: 12px 5px;
    }
    .hstrcl-vdo-list p {
        font-size: 26px;
        line-height: 30px;
    }
    .hstrcl-vdo {
        height: 400px;
    }
    .street-image p {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 0;
        font-weight: 600;
    }
    .catalonia-menu ul li {
        padding: 10px;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .second-page-content p {
        font-size: 30px;
    }
    .fifteen-click {
        font-size: 30px;
    }
    .credit {
        font-size: 28px;
    }
    .jump-menu ul li a {
        font-size: 30px;
    }
    .home img {
        max-width: 30px;
        width: 30px;
    }
    .front-page-content h1 {
        font-size: 110px;
        padding: 0 22%;
        line-height: 110px;
    }
    .lang-btn li a {
        font-size: 36px;
    }
    .street-image h5 {
        font-size: 24px;
        line-height: 40px;
    }
    .credit {
        padding: 8px 20px;
    }
    .jump-menu ul li a {
        padding: 8px 20px;
    }
    .credit-right-content p {
        font-size: 30px;
        line-height: 28px;
    }
    .credit-content-box h4 {
        font-size: 36px;
    }
    .credit-content-box p {
        line-height: 56px;
        font-size: 32px;
    }
    .credit-right-content h4 {
        font-size: 36px;
    }
    .title-box h2 {
        font-size: 100px;
    }


}

@media only screen and (min-width: 1600px) and (max-width: 1920px) {

    .historic-menu li {
        font-size: 20px;
        padding: 15px 2px;
        margin-bottom: 20px;
    }
    .historic-sub-menu li {
        font-size: 24px;
        padding: 14px 5px;
    }
    .menu li {
        font-size: 22px;
        padding: 12px 5px;
    }
    .hstrcl-vdo-list p {
        font-size: 20px;
        line-height: 24px;
    }
    .hstrcl-vdo {
        height: 300px;
    }
    .street-image p {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 0;
    }
    .catalonia-menu ul li {
        padding: 10px;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .second-page-content p {
        font-size: 30px;
    }
    .fifteen-click {
        font-size: 24px;
    }
    .credit {
        font-size: 24px;
    }
    .jump-menu ul li a {
        font-size: 26px;
    }
    .home img {
        max-width: 30px;
    }
    .front-page-content h1 {
        font-size: 110px;
        padding: 0 22%;
        line-height: 110px;
    }
    .lang-btn li a {
        font-size: 36px;
    }
    .street-image h5 {
        font-size: 20px;
        line-height: 36px;
    }
    .credit {
        padding: 8px 20px;
    }
    .jump-menu ul li a {
        padding: 8px 20px;
    }
    .credit-right-content p {
        font-size: 20px;
        line-height: 24px;
    }
    .credit-content-box h4 {
        font-size: 30px;
    }
    .credit-content-box p {
        line-height: 36px;
        font-size: 24px;
    }
    .credit-right-content h4 {
        font-size: 30px;
    }
    


}

@media only screen and (min-width: 1367px) and (max-width: 1440px) {
    .catalonia-menu ul {
        margin-right: 12px;
    }
    .front-page-content h1 {
        font-size: 90px;
    }

    .sub-menu, .sub-menu2 {
        width: 61%;
    }
    .historic-sub-menu {
        margin: 0 0 0 9px;
    }

    .catalonia-menu ul {
        margin-right: 9px;
    }
    .catalonia-menu ul li {
        font-size: 13px;
    }
    .hstrcl-vdo-list p {
        line-height: 22px;
        font-size: 18px;
    }
    .credit-left-content {
        padding-left: 5%;
    }
    .credit-right-content {
        padding-right: 5%;
    }
    .street-image img {
        height: 100px;
    }
    .front-page-content h1 {
        padding: 0 16%;
    }
    .second-page-content p {
        font-size: 21px;
    }
    .menu li {
        padding: 6px;
        font-size: 15px;
        margin-bottom: 5px;
    }
    .hstrcl-vdo {
        height: 300px;
    }
    .historic-menu li {
        font-size: 14px;
    }
    .hstrcl-vdo-list p {
        line-height: 18px;
        font-size: 18px;
    }
    .street-image h5 {
        font-size: 16px;
        line-height: 20px;
    }
    .street-image p {
        font-size: 18px;
        line-height: 20px;
    }
    .historic-sub-menu li {
        font-size: 16px;
    }
    .fifteen-click {
        font-size: 18px;
    }
    .jump-menu ul li a {
        font-size: 18px;
    }
    .credit {
        padding: 9px 20px;
        font-size: 18px;
    }











}
@media only screen and (min-width: 1280px) and (max-width: 1366px) {
    .catalonia-menu ul {
        margin-right: 12px;
    }
    .front-page-content h1 {
        font-size: 90px;
    }
    
    .sub-menu, .sub-menu2 {
        width: 61%;
    }
    .historic-sub-menu {
        margin: 0 0 0 9px;
    }
    .historic-menu li {
        font-size: 12px;
    }
    .catalonia-menu ul {
        margin-right: 9px;
    }
    .catalonia-menu ul li {
        font-size: 13px;
    }
    .hstrcl-vdo-list p {
        line-height: 12px;
        font-size: 11px;
    }
    .credit-left-content {
        padding-left: 5%;
    }
    .credit-right-content {
        padding-right: 5%;
    }

    .front-page-content h1 {
        padding: 0 14%;
    }
    .hstrcl-vdo {
        height: 200px;
    }
    .menu li {
        margin-bottom: 3px;
        box-shadow: 0px 0px 1px #939393;
        font-size: 12px;
    }
    .historic-sub-menu li {
        font-size: 13px;
    }
    .historic-menu li {
        font-size: 12px;
    }
    .street-image p {
        font-size: 15px;
        line-height: 18px;
    }
    .credit-right-content p {
        font-size: 15px;
        line-height: 16px;
    }
    .credit-content-box p {
        line-height: 18px;
        font-size: 16px;
    }
    .credit-content-box h4 {
        font-size: 18px;
    }
    .credit-right-content h4 {
        font-size: 18px;
    }

















}


@media only screen and (min-width: 1080px) and (max-width: 1279px) {
    .catalonia-menu ul {
        margin-right: 12px;
    }
    .front-page-content h1 {
        font-size: 90px;
    }
    .historic-menu {
        height: 290px;
    }
    
    .sub-menu, .sub-menu2 {
        width: 61%;
    }
    .historic-sub-menu {
        margin: 0 0 0 9px;
    }
    .historic-menu li {
        font-size: 10px;
    }
    .catalonia-menu ul {
        margin-right: 9px;
    }
    .catalonia-menu ul li {
        font-size: 10px;
    }
    .hstrcl-vdo-list p {
        line-height: 16px;
        font-size: 16px;
    }
    .credit-left-content {
        padding-left: 5%;
    }
    .credit-right-content {
        padding-right: 5%;
    }
    .street-image img {
        height: 100px;
    }
    .front-page-content h1 {
        padding: 0 12%;
    }
    


    /*======= Timeline Css =======*/

    .labelvideooutr {
        position: absolute;
        background-repeat: no-repeat;
        width: 100%;
        height: 60px;
        overflow: hidden;
        background-image: 100%;
        background-position: 0 bottom;
      }
      .timeline-label {
        padding: 2px 5px;
        color: #fff;
        font-size: 12px;
        line-height: 1;
        background: #ccc;
        height: 10px;
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 0;
      }




    
}